.logo h1{
    font-size: 16px;
    color:linear-gradient(0deg, var(--colors-primary-500, #21868E), var(--colors-primary-500, #21868E)),
    linear-gradient(90deg, #9CE2E8 0%, #134D52 50%, #21868E 100%);
    ;
}

  
  header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
  }
  
  header .menu a {
    font-size: 14px;
    margin-left: 26px;
    text-decoration: none;
    color:rgba(153, 153, 153, 1);
  }
  
  header .menu .active{
      color: #000000;
     
  }
  header input {
    width: 320px;
    height: 48px;
    border-radius: 16px;
    padding-right: 16px ;
    padding-left: 16px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow:  0px 2px 6px 0px ;
    border: 1px solid rgba(60, 151, 175, 0.08);
  }
  .border{
    border-top: 1px solid rgba(217, 217, 217, 1);
    margin-top: -10px;
    width: 1392px;
   
  }
  .search{
    display: flex;

  }
 .search img{
    width:50px;
    height: 50px;
    margin-left: 24px;
  
  }